<p> {{places?.length}} </p>
<div class="forms">

  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="title" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="description" formControlName="description"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="dateCreated" formControlName="dateCreated" type="datetime"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="geopoint" formControlName="geopoint"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit Place</button>
  </form>

  <mat-divider></mat-divider>

  
</div>
