<app-home-toolbar></app-home-toolbar>
<div class="main-image-container">
  <button mat-button (click)="test()">Get Position</button>
</div>

<div class="features-intro">
  <span>See What Surrounds You</span>
</div>

<div class="feature-items-wrapper__flex">
  <div class="feature-items-wrapper">
    <app-home-feature-item title="Explore" text="Explore pins representing known places or individual photos"></app-home-feature-item>
    <app-home-feature-item title="Filter" text="Filter photos by subject type such as Mountains, Waterfalls, Forests, Beaches, etc." reverse="true"></app-home-feature-item>
    <app-home-feature-item title="Create Bucket Lists" text="Create lists of your favorite photos and Bucket Lists"></app-home-feature-item>
    <app-home-feature-item title="Follow Photographers" text="Follow your favorite photographers" reverse="true"></app-home-feature-item>
    <app-home-feature-item title="Discover" text="Discover new places by exploring new, trending photos"></app-home-feature-item>
  </div>
</div>

<app-home-footer></app-home-footer>