<div class="main-image-container">
  <button mat-button (click)="test()">Get Position</button>
  <form class="input-form">
    <mat-form-field class="input-form-field" appearance="outline">
      <mat-label>State</mat-label>
      <input type="text"
             placeholder="Select a State"
             aria-label="State"
             matInput
             [formControl]="stateControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
       (optionSelected)="onStateSelected($event)">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.state">
          {{state.state}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="features-intro">
  <span>See What Surrounds You</span>
</div>

<div class="feature-items-wrapper__flex">
  <div class="feature-items-wrapper">
    <app-home-feature-item title="Explore" text="Explore pins representing known places or individual photos"></app-home-feature-item>
    <app-home-feature-item title="Filter" text="Filter photos by subject type such as Mountains, Waterfalls, Forests, Beaches, etc." reverse="true"></app-home-feature-item>
    <app-home-feature-item title="Create Bucket Lists" text="Create lists of your favorite photos and Bucket Lists"></app-home-feature-item>
    <app-home-feature-item title="Follow Photographers" text="Follow your favorite photographers" reverse="true"></app-home-feature-item>
    <app-home-feature-item title="Discover" text="Discover new places by exploring new, trending photos"></app-home-feature-item>
  </div>
</div>

<app-home-footer></app-home-footer>
