:host {
    width: 100%;
    height: 50px;
    min-height: 50px;
}
.mat-icon {
    width: 28px;
    height: 28px;
}

.icon-label {
    color: #fff;
    font-size: 12px;
}

.tab-button {
    cursor: pointer;
}


.filter-icon {
    height: 105px;
    width: 80px;
    z-index: 999;
}