<div class="tags-filter">
  <mat-button-toggle-group name="photoContentType" multiple="true" (change)="onFilterChange($event)" [value]="currentFilters$ | async">
    <mat-button-toggle *ngFor="let tag of tagKeys" [value]="tags[tag]">{{tag}}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div *ngFor="let photo of photos$ | async as photos; let i = index" class="item-wrapper">
  <div  
    routerLink="/photos/{{photo?.id}}"
    class="wrapper mat-elevation-z3" [class.active]="photo === active" 
    (click)="onItemClicked(photo)" (mouseenter)="onItemHover(photo)" (mouseleave)="onItemHover()"
    >
    <ng-container *ngIf="photo?.downloadUrl">
      <div class="image-container" [style.backgroundImage]="'url(' + photo?.downloadUrl + ')'"></div>
    </ng-container>
    <div class="image-description">{{ photo?.title }}</div>
  </div>
</div>
