<p> {{places?.length}} </p>

<div>Create a place</div>

<form [formGroup]="placeForm">
  <mat-form-field>
    <input matInput placeholder="title" formControlName="title"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="description" formControlName="description"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="dateCreated" formControlName="dateCreated" type="datetime"/>
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let photoId of photoIds" removable="true" (removed)="onRemovePhotoId(photoId)">
        {{photoId}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Photo IDs"
             [matChipInputFor]="chipList"
             matChipInputAddOnBlur="true"
             (matChipInputTokenEnd)="onAddPhotoId($event)">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="geopoint" formControlName="geopoint" (blur)="onGeopointBlur($event.target.value)"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit Place</button>
</form>