<mat-drawer-container class="container" (backdropClick)="showSidenav = false">
  <mat-drawer class="drawer" mode="push" [opened]="showSidenav">
    <sp-app-sidenav (linkClicked)="showSidenav = false" (emitSidenavToggle)="showSidenav = false"></sp-app-sidenav>
  </mat-drawer>

  <mat-drawer-content fxLayout="column" class="drawer-content">
    <sp-app-toolbar (emitSidenavToggle)="showSidenav = !showSidenav"></sp-app-toolbar>
    <!-- <mat-divider></mat-divider> -->
    <router-outlet></router-outlet>
    <sp-app-tabs></sp-app-tabs>
  </mat-drawer-content>
</mat-drawer-container>
