<div fxFlexFill fxLayout="row">
  <div fxFlex="60">
    <sp-map-container [activeItem]="selectedItem" [hoveredItem]="highlightedItem" [places]="pinsInBounds$ | async" (itemClicked)="onItemSelected($event)"></sp-map-container>
  </div>
  <div fxFlex="40" style="overflow: auto;" class="mat-elevation-z4">
    {{(panelViewMode$ | async) === 0}}
    {{explorationMode$ | async}}
    <ng-container *ngIf="pinsInBounds$ | async as pins">
      
      <ng-container *ngIf="(panelViewMode$ | async) === 0; else photosTemplate">
        <app-place-list [places]="pins" [active]="selectedItem" (itemHovered)="onItemHovered($event)" (itemClicked)="onItemSelected($event)"></app-place-list>
      </ng-container>

      <ng-template #photosTemplate>
        <sp-place-details (backClicked)="onBackClicked()" [place]="selectedItem" [photos]="pinsInBounds$ | async" (itemHovered)="onItemHovered($event)"></sp-place-details>
      </ng-template>

    </ng-container>
    <!-- <sp-generate fxFlexFill></sp-generate> -->
  </div>
</div>

