<mat-form-field>
  <mat-label>Existing Photos</mat-label>
  <mat-select (selectionChange)="onPhotoSelect($event)">
    <mat-option *ngFor="let photo of photos" [value]="photo">
      {{photo.title}} - {{photo.id}}
    </mat-option>
  </mat-select>
</mat-form-field>


<form [formGroup]="photoForm" class="photo-form">
  <mat-form-field>
    <mat-label>Associated Place</mat-label>
    <mat-select (selectionChange)="onPlaceSelect($event)" formControlName="placeId">
      <mat-option *ngFor="let place of places" [value]="place.id">
        {{place.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Author ID" formControlName="authorId"/>
  </mat-form-field>

  <mat-form-field class="full">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Geopoint" formControlName="geopoint" (blur)="onGeopointBlur($event.target.value)"/>
  </mat-form-field>

  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of photoForm.get('tags').value" removable="true" (removed)="onRemoveTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Tags"
             #tagsInput
             [matChipInputFor]="chipList"
             [matAutocomplete]="auto"
             matChipInputAddOnBlur="true">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelected($event)">
      <mat-option *ngFor="let tag of filteredKeys" [value]="tags[tag]">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h2 class="full">External Image</h2>

  <mat-form-field>
    <input matInput placeholder="image file url" formControlName="externalImageFileUrl" (blur)="onImageUrlBlur($event.target.value)"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="image page url" formControlName="externalImagePageUrl"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="author name" formControlName="externalAuthor"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="author page" formControlName="externalAuthorUrl"/>
  </mat-form-field>

  <input type="file" (change)="onFileChange($event)"/> 
  <div>
    <img [src]="photoString" class="preview-container"/>
  </div>
  <button mat-raised-button color="primary" (click)="onPhotoSubmit()">Submit Photo</button>
</form>


<mat-form-field>
  <textarea matInput placeholder="CC html block" (blur)="onHtmlBlockBlur($event.target.value)"></textarea>
</mat-form-field>
