<div fxFlexFill>
  <ng-container *ngIf="pinsInBounds$ | async as pins">
    
    <ng-container *ngIf="(panelViewMode$ | async) === 0; else photosTemplate">
      <app-place-list [places]="pins" [active]="selectedItem" (itemHovered)="onItemHovered($event)" (itemClicked)="onItemSelected($event)"></app-place-list>
    </ng-container>

    <ng-template #photosTemplate>
      <sp-place-details (backClicked)="onBackClicked()" [place]="selectedItem" [photos]="pinsInBounds$ | async" (itemHovered)="onItemHovered($event)"></sp-place-details>
    </ng-template>

  </ng-container>
</div>

