<!-- <img fxFlex="35" [src]="photo.blob" alt="" class="cover"> -->
<div class="metedata-container" fxFlex="65" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div fxFlex class="description-container" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="description-text">
      {{ photo.title }}
    </div>
    <div class="menu-button">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="metedata-container" fxLayout="row" fxLayoutAlign="end center">
    <div class="description-text">
      <!-- {{ photo.favorites }} -->
    </div>
    <div class="favorite-button">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
