<mgl-map [style]="'mapbox://styles/mapbox/light-v9'" [zoom]="[2]" [center]="[-74, 43]" [attributionControl]="false"
  (load)="onLoad($event)" (moveEnd)="reloadPlaces()" fxFlex>
  <mgl-marker [lngLat]="[place.longitude, place.lattitude]" *ngFor="let place of places; let i=index">
    <div class="marker" [ngStyle]="{
'background-color': i == highlightedPointIndex ? '#66ff00' :'#475467',
          'width': '12px',
          'height': '12px'
        }">
    </div>
  </mgl-marker>
  <mgl-control mglAttribution position="top-left"></mgl-control>
</mgl-map>
