<div class="tags-filter">
  <mat-button-toggle-group name="photoContentType" multiple="true" (change)="onFilterChange($event)">
    <mat-button-toggle *ngFor="let tag of tagKeys" [value]="tag">{{tags[tag]}}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div *ngFor="let place of places$ | async as places; let i = index" class="item-wrapper">
  <div  
    routerLink="/places/{{place?.id}}"
    class="wrapper mat-elevation-z3" 
    (mouseenter)="onItemHover(place)" (mouseleave)="onItemHover()"
    >
    <ng-container *ngIf="place?.coverPhotoUrl">
      <div class="image-container" [class.hovered]="isActive(place)" [style.backgroundImage]="'url(' + place?.coverPhotoUrl + ')'"></div>
    </ng-container>
    <div class="image-description">{{ place?.title }}</div>
  </div>
</div>
